# Jupyter Notebook
.ipynb_checkpoints/

# Anaconda/Jupyter metadata
anaconda_projects/
**/anaconda_projects/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log